/* I'm sure this isn't the best way to implement multiple pages that have common css but honstly i couldn't be bothered */

/*resets*/

html {
    margin: 0;
    padding: 0;
}

body {
    /* width: 100%;
    height: 100%; */
    margin: 0;
    /* box-sizing: content-box; */

}

ul {
    margin: 0;
}

/* reset links */
a:link { 
    text-decoration: none; 
} 

a:visited { 
    text-decoration: none; 
} 

a:hover { 
    text-decoration: none; 
} 

a:active { 
    text-decoration: none; 
}

/* styles */

body {
    background-color: black;
    color: white;
    font-size: 18px;
}


nav {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2vw;
}
a{
    color: white;
}

/* highlight current page by making it bolder */
.current {
    font-weight: 900;
}