.projectCard {
    max-width: 1000px;
    box-shadow: white 5px 5px 13px;

}

.innerCard {
    box-shadow: inset #5c5c5c 0 0 20px;
}
.card-title {
    font-weight: bold;
    padding-bottom: 1vh;
    margin-bottom: 0;
}



.card-text {
    padding-bottom: 1vh;
    margin-bottom: 0;
}
@media screen and (max-width: 620px) {
    .projectCard {
        margin: 0 7vw;
    }
}
