.projectCard {
    max-width: 1000px;
    box-shadow: #7f7f7f 5px 5px 10px 2px, inset #3c3a3a -5px -4px 15px 3px;
    transition: all 0.3s;
}

.projectCard:hover {
    transform: translate(-6px, -6px);
    box-shadow: #a4a4a4 10px 10px 15px 2px;
}
.card-title {
    font-weight: bold;
    padding-bottom: 1vh;
    margin-bottom: 0;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    justify-self: center;
}

.card-text {
    padding-bottom: 1vh;
    margin-bottom: 0;
    max-width: 80%;
    justify-self: center;
}

@media screen and (max-width: 620px) {
    .projectCard {
        margin: 0 7vw;
        font-size: medium;
    }
    .buttonContainer {
        flex-direction: column;
    }
}
