.aboutSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4vh;
    padding: 0 7vw;
}

#About {
    font-weight: bold;
}

.aboutSectionContainer h4 {
    line-height: 4vh;
}