.getInTouch {
    font-weight: bold;
}

.icon {
    color: white;
}

.icon:hover {
    color: #5c5c5c;
}

.iconsConstainer {
    display: flex;
    gap: 2vw;
}

@media screen and (max-width: 620px) {
    .iconsConstainer {
        gap: 5vw;
    }

}