/*resets*/

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

/* reset links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* styles */

/* custom colors */
:root {
  --color-links:rgb(114, 160, 197);
  --color-links-darker:rgb(58, 80, 97);
}

/* main */
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  font-size: 18px;
}

/* links */
a {
  text-decoration: none;
  color: var(--color-links);
}

a:hover {
  text-decoration: underline;
  color: var(--color-links-darker);
}

/*!* container to center elements within 75% of screen width or 800px whichever comes first*!*/
/*.centerContainer {*/
/*    width: 75%;*/
/*    max-width: 800px;*/
/*    align-self: center;*/
/*    justify-self: center;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 2vw;*/
/*    margin: 4vh 0;*/
/*    overflow-wrap: break-word;*/
/*}*/

/*!* media queries to keep main container dimensions right *!*/
/*@media screen and (max-width: 1200px) {*/
/*  .centerContainer {*/
/*    gap: 4vw;*/
/*    margin: 3vh 0;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 620px) {*/
/*  .centerContainer {*/
/*    gap: 8vw;*/
/*    margin: 5vh 0;*/
/*  }*/
/*}*/

.wholePageSection {
  height: 90vh;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4vh;
  padding: 0 7vw;
}

.centerContainer h4 {
  line-height: 4vh;
}
